In [3]:
import pandas as pd
from haversine import haversine

In [4]:
df = pd.read_csv('C:\\Users\\IgorMagro\\Downloads\\train.csv')

In [7]:
numero_entregadores = len(df.loc[:,'Delivery_person_ID'].unique())
print(numero_entregadores)

1320

In [21]:
df.loc[:,:]

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,...,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min),dist
0,0x4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,...,conditions Sunny,High,2,Snack,motorcycle,0,No,Urban,(min) 24,3.025153
1,0xb379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45:00,...,conditions Stormy,Jam,2,Snack,scooter,1,No,Metropolitian,(min) 33,20.183558
2,0x5d6d,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,08:30:00,...,conditions Sandstorms,Low,0,Drinks,motorcycle,1,No,Urban,(min) 26,1.552760
3,0x7a6a,COIMBRES13DEL02,38,4.7,11.003669,76.976494,11.053669,77.026494,05-04-2022,18:00:00,...,conditions Sunny,Medium,0,Buffet,motorcycle,1,No,Metropolitian,(min) 21,7.790412
4,0x70a2,CHENRES12DEL01,32,4.6,12.972793,80.249982,13.012793,80.289982,26-03-2022,13:30:00,...,conditions Cloudy,High,1,Snack,scooter,1,No,Metropolitian,(min) 30,6.210147
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45588,0x7c09,JAPRES04DEL01,30,4.8,26.902328,75.794257,26.912328,75.804257,24-03-2022,11:35:00,...,conditions Windy,High,1,Meal,motorcycle,0,No,Metropolitian,(min) 32,1.489848
45589,0xd641,AGRRES16DEL01,21,4.6,0.000000,0.000000,0.070000,0.070000,16-02-2022,19:55:00,...,conditions Windy,Jam,0,Buffet,motorcycle,1,No,Metropolitian,(min) 36,11.007750
45590,0x4f8d,CHENRES08DEL03,30,4.9,13.022394,80.242439,13.052394,80.272439,11-03-2022,23:50:00,...,conditions Cloudy,Low,1,Drinks,scooter,0,No,Metropolitian,(min) 16,4.657202
45591,0x5eee,COIMBRES11DEL01,20,4.7,11.001753,76.986241,11.041753,77.026241,07-03-2022,13:35:00,...,conditions Cloudy,High,0,Snack,motorcycle,1,No,Metropolitian,(min) 26,6.232402
45592,0x5fb2,RANCHIRES09DEL02,23,4.9,23.351058,85.325731,23.431058,85.405731,02-03-2022,17:10:00,...,conditions Fog,Medium,2,Snack,scooter,1,No,Metropolitian,(min) 36,12.074412

In [9]:
dfavg= df.loc[:, ['Delivery_person_ID', 'Delivery_person_Ratings']].groupby('Delivery_person_ID').mean().reset_index()

TypeError: agg function failed [how->mean,dtype->object]

In [20]:
df['dist'] = df.loc[:,:].apply(lambda x: haversine((x['Restaurant_latitude'], x['Restaurant_longitude']), (x['Delivery_location_latitude'], x['Delivery_location_longitude'])), axis=1)

In [15]:
df['Restaurant_latitude'] = df['Restaurant_latitude'].astype(float)
df['Restaurant_longitude'] = df['Restaurant_longitude'].astype(float)
df['Delivery_location_latitude'] = df['Delivery_location_latitude'].astype(float)
df['Delivery_location_longitude'] = df['Delivery_location_longitude'].astype(float)

In [24]:
df['Time_taken(min)'] = df['Time_taken(min)'].str.extract(r'(\d+)').astype(float)

In [32]:
cols = ['Time_taken(min)', 'City', 'Type_of_order']
mean_median = df.loc[:,cols].groupby(['City', 'Type_of_order']).agg({'Time_taken(min)': ['mean', 'std']})
mean_median

                             Time_taken(min)
                                        mean       std
City           Type_of_order
Metropolitian  Buffet              27.184645  9.210469
               Drinks              27.222762  9.086536
               Meal                27.510734  9.251953
               Snack               27.336991  9.184238
NaN            Buffet              22.244224  8.313383
               Drinks              21.569930  7.817682
               Meal                21.796364  8.153320
               Snack               22.520833  8.825988
Semi-Urban     Buffet              49.666667  2.711013
               Drinks              49.647059  2.435624
               Meal                50.029412  2.959170
               Snack               49.648148  2.720692
Urban          Buffet              23.352073  9.081076
               Drinks              22.991430  8.933587
               Meal                22.802414  8.745737
               Snack               22.793478  8.693936